<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <h4 class="mb-0">Current DB  Connection</h4>
            <p><strong>Server host</strong> : localhost
            <br><strong>Database</strong> : EVAADE
            <br><strong>User</strong> : root</p>
          </div>
          <div class="chart-wrapper px-3" style="height:30px;">
          <canvas baseChart class="chart"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Database Connections
        </div>
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" [routerLink]="['/components/criteria']"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Database Connections">
        </div>
        <div class="card-body">
          <div class="table-responsive"></div>
          <table class="table table-responsive table-hover table-outline mb-0">
            <thead class="thead-default">
              <tr>
                <th>ID</th>
                <th>MSSQL Server (Host)</th>
                <th>Database Name</th>
                <th>Usage</th>
                <th>Activity</th>
                <th class="text-center"> Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>001</td>
                <td>localhost</td>
                <td>
                  <div>EVAADE</div>
                  <div class="small text-muted">
                    <span>New</span> | Created: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 1, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">being used</div>
                  <strong>Connected</strong>
                </td>
                <td class="text-center">
                  <a href="#" ><i class="fa fa-circle-o-notch"></i></a>
                </td>
              </tr>
              <tr>
                <td>001</td>
                <td>localhost</td>
                <td>
                  <div>EVAADE V2</div>
                  <div class="small text-muted">
                    <span>New</span> | Created: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>20%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 4, 2015 - Jul 5, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last used</div>
                  <strong>3 days ago</strong>
                </td>
                <td class="text-center">
                  <a href="#" ><i class="fa fa-plug"></i></a>
                  <a href="#" ><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>001</td>
                <td>localhost</td>
                <td>
                  <div>MINERALPRO</div>
                  <div class="small text-muted">
                    <span>New</span> | Created: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>10%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 8, 2015 - Jul 9, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last used</div>
                  <strong>5 days ago</strong>
                </td>
                <td class="text-center">
                  <a href="#" ><i class="fa fa-plug"></i></a>
                  <a href="#" ><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>001</td>
                <td>localhost</td>
                <td>
                  <div>PAYROLLCF</div>
                  <div class="small text-muted">
                    <span>New</span> | Created: Jan 2, 2015
                  </div>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>70%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last used</div>
                  <strong>10 sec ago</strong>
                </td>
                <td class="text-center">
                  <a href="#" ><i class="fa fa-plug"></i></a>
                  <a href="#" ><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>001</td>
                <td>localhost</td>
                <td>
                  <div>ARMS</div>
                  <div class="small text-muted">
                    <span>New</span> | Created: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last used</div>
                  <strong>10 sec ago</strong>
                </td>
                <td class="text-center">
                  <a href="#" ><i class="fa fa-plug"></i></a>
                  <a href="#" ><i class="icon-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
