<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            User Accounts
          </div>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" [routerLink]="['/components/criteria']"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search User Account">
          </div>
          <div class="card-body">
            <div class="table-responsive"></div>
            <table class="table table-responsive table-hover table-outline mb-0">
              <thead class="thead-default">
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Full name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Access level</th>
                  <th class="text-center"> Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>001</td>
                  <td>JohnDoeAdm</td>
                  <td>John Doe</td>
                  <td>jdoe@gmail.com</td>
                  <td>active</td>
                  <td>administrator</td>
                  <td class="text-center">
                    <a href="#" ><i class="icon-note"></i></a>
                    <a href="#" ><i class="icon-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>JohnSnow</td>
                  <td>John Snow Dirk</td>
                  <td>jsdirk@gmail.com</td>
                  <td>unassigned</td>
                  <td>user</td>
                  <td class="text-center">
                    <a href="#" ><i class="icon-note"></i></a>
                    <a href="#" ><i class="icon-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>003</td>
                  <td>FrankClinCa</td>
                  <td>Frank Clinton</td>
                  <td>fclinton@gmail.com</td>
                  <td>deactivated</td>
                  <td>user</td>
                  <td class="text-center">
                    <a href="#" ><i class="icon-note"></i></a>
                    <a href="#" ><i class="icon-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>004</td>
                  <td>RobertD</td>
                  <td>Robert Dungeon</td>
                  <td>rdungeon@gmail.com</td>
                  <td>active</td>
                  <td>user</td>
                  <td class="text-center">
                    <a href="#" ><i class="icon-note"></i></a>
                    <a href="#" ><i class="icon-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
